$fuente: bold;
$fuente2: 1000;
$color: white;

.Título {
  background-color: #ff9100;
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
/* CSS DE RECETAS */
.TítuloR {
  background-color: #f3c323;
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
/* CSS DE RECETAS LIVIANAS */
.TítuloRL {
  background-color: #0f9921;
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
/* CSS DE AYUDA */
.TítuloA {
  background-color: #6b03e2;
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
/* CSS DE TALLER VIRTUAL */
.Título2 {
  background-color: rgb(212, 37, 75);
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
/* CSS DE CONOCENOS */
.Título3 {
  background-color: #004df3;
  font-weight: $fuente;
  font-weight: $fuente2;
  color: $color;
  text-align: center;
}
